::selection {
    background-color: #685F5A;
}

::-moz-selection {
    background-color: #5F5A56;
}

html, body{
    height: 100%;
}

body {
    background: #303135;
}

.container {
    display: -webkit-flex;
    display: flex;
    height: 100%;
}

.longbox {
    padding: 10px;
    margin: 40px auto;
    width: 345px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

#map{
    margin-top: 20px;
    height: 95%;
}

#searchDriverBox{
    padding: 1px;
    margin: 20px auto;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.labelCustom{
    width: 75%;
    height: 20px;
    display: block;
    margin: 0 auto 1px;
    padding: 0 15px;
}

.radioGroupCustom {
    width: 75%;
    height: 25px;
    display: block;
    margin: 0 auto 15px;
    padding: 0 15px;
}

h1 {
    text-align: center;
    font-size: 175%;
    color: #757575;
    font-weight: 300;
}

h1, input {
    font-family: "Open Sans", Helvetica, sans-serif;
}

.input {
    width: 75%;
    height: 50px;
    display: block;
    margin: 0 auto 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #ebebeb;
}
.input:focus {
    outline: none;
    border-bottom-color: #ED4923 !important;
}
.input:hover {
    border-bottom-color: #dcdcdc;
}
.input:invalid {
    box-shadow: none;
}

.pass:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.inputButton {
    position: relative;
    width: 85%;
    height: 50px;
    display: block;
    margin: 30px auto 30px;
    color: white;
    background-color: #F57023;
    border: none;
    -webkit-box-shadow: 0 5px 0 #F33924;
    -moz-box-shadow: 0 5px 0 #F33924;
    box-shadow: 0 5px 0 #F33924;
}
.inputButton:hover {
    top: 2px;
    -webkit-box-shadow: 0 3px 0 #F33924;
    -moz-box-shadow: 0 3px 0 #F33924;
    box-shadow: 0 3px 0 #F33924;
}
.inputButton:active {
    top: 5px;
    box-shadow: none;
}
.inputButton:focus {
    outline: none;
}

#rangeSlider .ui-slider-handle { border-color: #F33924; background: #F33924; }
#rangeSlider .ui-slider-range { background: #F57023; }
